.auth {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	svg {
		margin: 3.5rem;
	}
}

@media screen and (min-width: 768px) {
	.auth {
		svg {
			margin: 5rem;
		}
	}
}
