//colors

$bg-color: #10141e;
$bg-color-opacity-50: rgba(16, 20, 30, 0.5);
$bg-color-card: #161d2f;
$text-color-button-hover: #10141e;
$primary-color: #fc4747;
$secondary-color: #ffffff;
$secondary-color-opacity-75: rgba(255, 255, 255, 0.75);
$inactive-color: #5a698f;
