@use '/src/styles/abstracts' as a;

.searchContainer {
	display: flex;
	margin: 1.5rem 1rem;
	gap: 1.2rem;
	svg {
		transform: scale(0.8);
		display: flex;
	}
	input[type='text'] {
		color: a.$secondary-color;
		caret-color: a.$primary-color;
		background-color: transparent;
		border: none;
		width: 100%;
		font-size: 1rem;
		font-weight: a.$extra-light;
	}
	input[type='text']:focus {
		outline: none;
	}
}

@media screen and (min-width: 768px) {
	.searchContainer {
		gap: 1.5rem;
		margin: 1.375rem 1.3rem;
		svg {
			transform: none;
		}
		input[type='text'] {
			font-size: 1.5rem;
		}
	}
}

@media screen and (min-width: 1440px) {
	.searchContainer {
		gap: 1.5rem;
		margin: 4rem 0 2.125rem 0;
	}
}
