@use '/src/styles/abstracts' as a;

.playIconBackground {
	background-color: rgba(255, 255, 255, 0.2);
	width: 7.313rem;
	height: 3rem;
	border-radius: 1.781rem;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 4rem;
	left: 5rem;
	animation: fade-in 0.3s ease 0s 1 normal forwards;
	cursor: pointer;
	.playIcon {
		display: flex;
		align-items: center;
		gap: 1.188rem;
		p {
			color: a.$secondary-color;
			font-size: 1.125rem;
		}
	}
}

.playIconTrendingBackground {
	@extend .playIconBackground;
	top: 5rem;
	left: 11rem;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
