@use '/src/styles/abstracts' as a;

.recommended {
	margin: 1rem;
	h1 {
		color: a.$secondary-color;
		font-size: 1.25rem;
		font-weight: a.$extra-light;
		margin: 1.5rem 0;
	}
}

@media screen and (min-width: 768px) {
	.recommended {
		margin: 1.563rem;
		h1 {
			font-size: 2rem;
			margin: 2.438rem 0 1.5rem 0;
		}
	}
}

@media screen and (min-width: 1440px) {
	.recommended {
		margin: 2.5rem 0 2rem 0;
	}
}
