@use '/src/styles/abstracts' as a;

.infoContainer {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	button {
		background-color: transparent;
		border: none;
	}
	.bookmarkIcon {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0.5rem;
		z-index: 2;
		cursor: pointer;
	}
	.infoWrapper {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		position: absolute;
		bottom: 0;
		margin: 1.2rem 1rem;
		.info {
			display: flex;
			gap: 0.45rem;
			align-items: center;
			p {
				font-size: 0.75rem;
				font-weight: a.$extra-light;
			}
		}
		.title {
			p {
				font-size: 0.938rem;
				font-weight: a.$medium;
				color: a.$secondary-color;
			}
		}
		p,
		span {
			color: a.$secondary-color-opacity-75;
		}
	}
	img {
		width: 15rem;
		height: 8.75rem;
	}
	.playIcon,
	.playIconOnHover {
		display: none;
	}
}
.trending {
	margin: 1rem 0 1rem 1rem;
	h1 {
		color: a.$secondary-color;
		font-size: 1.25rem;
		font-weight: a.$extra-light;
		margin: 1.5rem 0;
	}
}

@media screen and (min-width: 768px) {
	.infoContainer {
		gap: 2.5rem;
		.bookmarkIcon {
			margin: 1rem;
		}
		.infoWrapper {
			margin: 1.5rem 1.3rem;
			.info {
				gap: 0.5rem;

				p {
					font-size: 0.938rem;
				}
			}
			.title {
				p {
					font-size: 1.5rem;
				}
			}
		}
		.playIcon {
			display: none;
		}
		.playIconOnHover {
			display: block;
			.playIconOverlay {
				position: absolute;
				background-color: rgba(0, 0, 0, 0.4);
				width: 29.375rem;
				height: 14.375rem;
				border-radius: 0.625rem;
			}
		}
		img {
			width: 29.375rem;
			height: 14.375rem;
		}
	}
	.trending {
		margin: 1.563rem 0 1.563rem 1.563rem;
		h1 {
			font-size: 2rem;
			margin: 1.563rem 0;
		}
		.trendingContainer {
			max-width: 94vw;
		}
	}
}

@media screen and (min-width: 1440px) {
	.trending {
		margin: 2.125rem 0;
		.trendingContainer {
			max-width: 86vw;
		}
	}
}
