@use '/src/styles/abstracts' as a;

.infoContainer {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	.bookmarkIcon {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0.5rem;
	}
	.infoWrapper {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		position: absolute;
		bottom: 0;
		margin: 1.2rem 1rem;
		.info {
			display: flex;
			gap: 0.45rem;
			align-items: center;
			p {
				font-size: 0.75rem;
				font-weight: a.$extra-light;
			}
		}
		.title {
			p {
				font-size: 0.938rem;
				font-weight: a.$medium;
				color: a.$secondary-color;
			}
		}
		p,
		span {
			color: a.$secondary-color-opacity-75;
		}
	}
	img {
		width: 15rem;
		height: 8.75rem;
	}
}
.trending {
	margin: 1rem;
	h1 {
		color: a.$secondary-color;
		font-size: 1.25rem;
		font-weight: a.$extra-light;
		margin: 1rem 0;
	}
}
